<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog</title>
  <style>
  .header{
         width : 1260px;
         height : 100px;
         background : #44619D;
         margin-right : 50px;
          margin-bottom : 50px;
         }
    .header h1 {
      float : left;
      padding-left: 50px;
    }
  </style>
</head>
<body>
   <div class="header">
     <h1>Facebook.com</h1>
  </div>
<h1>This is alpha-blog application</h1>
<%= link_to 'About', about_path %>
</body>
</html>
